<div class="row">

  <div class="col-md-4" *ngFor="let listado of listadoProducto">
    <div class="card text-center">
      <div class="card-header">
        {{listado.producto}}
      </div>
      <img [src]='listado?.descripcioncorta' class="card-img-top" width=100px, height=200px>
      <div class=" card-body">

        <!-- <p>
          {{listado.descripcioncorta}}
        </p> -->
        <p>
          {{listado.descripcioncompleta}}
        </p>
        <p>
          {{listado.precio}}
        </p>

        <!-- <a [routerLink]="['/products/actualizar',listado.idproducto]" class=" btn- btn-info btn-block">
          Editar
        </a> -->
        <button class=" btn- btn-info btn-block" (click)="borrarProducto(listado.idproducto)">
          Borrar
        </button>



      </div>
    </div>

  </div>


</div>