<div class="row">
  <div class="mx-auto">
    <table class="table responsive  table-striped text-dak">
      <thead>
        <tr>
          <th>
            <h4>#</h4>
          </th>
          <th>
            <h4>Producto</h4>
          </th>
          <th>
            <h4>Precio</h4>
          </th>
          <th>
            <h4>Cantidad</h4>
          </th>
          <th>
            <h4>Parcial</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Tomate</td>
          <td>5</td>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Naranja</td>
          <td>3</td>
          <td>5</td>
          <td>15</td>
        </tr>
        <tr class="sumatorio">
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td>25</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button class="btn  btn-sm btn-primary btn-block col-1 mx-auto">
  Comprar
</button>