<div class="row">

  <div class="col-md-4" *ngFor="let listado of listadoProducto">

    <!-- {{listado.uuid | json}}
    {{listado.idproducto| json}} -->
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-itemns-center">
        {{listado.producto}}
      </div>

      <img [src]='listado?.descripcioncorta' class="card-img-top" width=100px, height=200px>
      <div class=" card-body text-dark">


        <p>
          {{listado.descripcioncompleta}}
        </p>
        <p>
          {{listado.precio}}
        </p>
        <p>
          {{listado.idlocalizacion== 2 ? 'Ferrol': 'Coruña'}}
        </p>

        <!-- <a href="" class=" btn- btn-info btn-block" (click)="addCesta()">
          Añadir a cesta
        </a> -->

        <button type="submit" class="btn btn-sm btn-primary btn-block"
          (click)="addCesta(listado.idproducto)">Añadir</button>



      </div>
    </div>

  </div>


</div>